body {
    margin: 0;
    padding: 0;
}

.color_orange {
    color: #ff8b38;
    font-weight: 300;
}

@mixin button($bg) {
    width: 135px;
    height: 42px;
    background-color: $bg;
    color: #ffffff;
    font-family: Raleway;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

//------------- NAVBAR ---------------------

.nav {
    z-index: 1;
    width: 100%;
    height: 70px;
    background-color: black;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav__hamburger {
        position: absolute;
        right: 10px;
        color: #ff8b38;
        background-color: transparent;
        border: none;
        display: none;
        cursor: pointer;
        &:hover {
            color: #dd6a16;
        }
        &:focus {
            color: #dd6a16;
        }
    }
    .nav__logo {
        margin-left: 150px;
        a {
            text-decoration: none;
            color: #ffffff;
            font-size: 40px;
            font-family: raleway;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    .nav__menu {
        .menu {
            margin-right: 150px;
            display: flex;
            list-style: none;
            font-size: 20px;
            font-family: raleway;
            font-weight: 300;
            transition: 0.3s ease;
            .menu__item {
                margin-left: 47px;
                a {
                    text-decoration: none;
                    color: #a7a7a7;
                    transition: 0.1s;
                    &:hover {
                        color: #c2c2c2;
                    }
                    &:focus {
                        color: #c2c2c2;
                    }
                }
            }
        }
    }
}

@media (max-width: 1004px) {
    .nav {
        justify-content: center;
        .nav__hamburger {
            display: block;
        }
        .nav__logo {
            margin: 0;
        }
        .nav__menu {
            .menu {
                flex-direction: column;
                margin: 0;
                background-color: black;
                width: 100%;
                position: absolute;
                left: 0;
                right: 0;
                top: 70px;
                text-align: center;
                padding: 0;
                height: 0;
                overflow: hidden;
                .menu__item {
                    margin: 0;
                    line-height: 40px;
                }
            }
            .menu.active {
                height: 200px;
            }
        }
    }
}

//-------------HEADER-----------------

.header {
    width: 100%;
    height: 710px;
    background-image: url("imgs/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    .header__heading {
        width: 590px;
        h1 {
            font-size: 100px;
            color: #ffffff;
            font-family: Raleway;
            text-transform: uppercase;
        }
        h2 {
            margin-top: -55px;
            color: #ffffff;
            font-family: Raleway;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 40px;
            &::after {
                content: "";
                width: 100px;
                height: 2px;
                margin-top: 40px;
                background-color: white;
                display: block;
            }
        }
        p {
            color: #707174;
            font-family: Raleway;
            font-size: 20px;
        }
        button {
            @include button(transparent);
            border: 2px solid #ffffff;
            margin-top: 20px;
            &:hover {
                background-color: #ffffff;
                color: #000000;
            }
            &:focus {
                background-color: #ffffff;
                color: #000000;
            }
        }
    }
    .header__signup {
        width: 360px;
        p {
            color: #333333;
            font-family: Raleway;
            font-size: 25px;
            background-color: #f5f5f5;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
            width: 100%;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #ffffff;
            margin-top: -25px;
            height: 255px;
            position: relative;
            input {
                height: 32px;
                width: 75%;
                font-family: Raleway;
                border: none;
                border-bottom: 1px solid #d6d6d6;
                padding-left: 18px;
                font-size: 14px;
                font-weight: 300;
                outline: none;
                transition: 0.2s;
                &:focus {
                    border-bottom: 1px solid #000000;
                }
            }
            input:not(:first-child) {
                margin-top: 30px;
            }
            input:last-of-type {
                margin-bottom: 50px;
            }
            button {
                left: 0;
                width: 100%;
                height: 54px;
                position: absolute;
                bottom: -54px;
                background-color: #ff9b51;
                border: none;
                color: #ffffff;
                font-family: Raleway;
                font-size: 18px;
                font-weight: 400;
                cursor: pointer;
                transition: 0.2s;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                &:hover {
                    background-color: #ff8b38;
                }
                &:focus {
                    background-color: #ff8b38;
                }
            }
        }
    }
}

@media (max-width: 966px) {
    .header {
        height: 1100px;
        text-align: center;
        .header__heading {
            margin-bottom: -190px;
            h2 {
                &::after {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

@media (max-width: 526px) {
    .header {
        height: 1200px;
    }
}

//-----------BRAND BAR-------------

.brand-bar {
    width: 100%;
    height: 105px;
    box-shadow: 1px 2px 2px #b7b7b7;
    display: flex;
    justify-content: center;
    position: relative;
    .brand-bar__wrapper {
        width: 1430px;
        padding-left: 100px;
        padding-right: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .brand-bar__text {
            width: 408px;
            h3 {
                color: #333333;
                font-family: Raleway;
                font-size: 23px;
                margin-bottom: -8px;
            }
            p {
                color: #86878b;
                font-family: Raleway;
            }
        }
        .brand-bar__icons {
            a {
                transition: 0.3s;
                color: #cccccc;
                margin-left: 60px;
                &:nth-child(1):hover {
                    color: #3b5998;
                }
                &:nth-child(2):hover {
                    color: #00aced;
                }
                &:nth-child(3):hover {
                    color: #d34836;
                }
                &:nth-child(4):hover {
                    color: #C92228;
                }
                &:nth-child(5):hover {
                    color: #8a3ab9;
                }
                &:nth-child(6):hover {
                    color: #eb4924;
                }
                &:nth-child(7):hover {
                    color: #f26522;
                }
                &:focus {
                    color: #ff8b38;
                }
            }
        }
    }
}

@media (max-width: 1374px) {
    .brand-bar {
        height: 250px;
        .brand-bar__wrapper {
            text-align: center;
            flex-direction: column;
            justify-content: center;
            padding: 0;
            .brand-bar__text {
                width: 100%;
            }
            .brand-bar__icons {
                width: 100%;
                a {
                    margin: 10px;
                }
            }
        }
    }
}

@media (max-width: 488px) {
    .brand-bar {
        height: 300px;
    }
}

//---------FEATURES-------------

.features {
    width: 100%;
    height: 595px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .features-tabs {
        display: flex;
        .features__buttons-group {
            display: flex;
            flex-direction: column;
            button {
                transition: 0.5s;
                width: 110px;
                height: 112px;
                background-color: #333333;
                border: none;
                color: #ffffff;
                font-family: Raleway;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 16px;
                border: 1px solid #c7c7c7;
                cursor: pointer;
                &:hover {
                    background-color: #ff8b38;
                }
                &:focus {
                    background-color: #ff8b38;
                }
            }
            .features-btn.active {
                background-color: #ff8b38;
            }
        }
        .features-tab {
            visibility: hidden;
            height: 307px;
            width: 540px;
            opacity: 0;
            transition: 0.4s ease-in;
            position: absolute;
            margin-left: 80px;
            h3 {
                margin-top: 10px;
                font-size: 24px;
                font-family: Raleway;
                padding-bottom: 20px;
            }
            p {
                font-family: Raleway;
                color: #86878b;
            }
            button {
                @include button(#ff8b38);
                margin-top: 35px;
                &:hover {
                    background-color: #ff9b51;
                }
                &:focus {
                    background-color: #ff9b51;
                }
            }
        }
        .features-tab.active {
            opacity: 1;
            visibility: visible;
        }
    }
}

@media (max-width: 1615px) {
    .features {
        justify-content: space-between;
        .features-tabs {
            margin-left: 120px;
        }
        img {
            margin-right: 120px;
        }
    }
}

@media (max-width: 1270px) {
    .features {
        .features-tabs {
            margin-left: 30px;
        }
        img {
            margin-right: 30px;
        }
    }
}

@media (max-width: 1100px) {
    .features {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        img {
            display: none;
        }
        .features-tabs {
            flex-direction: column;
            margin-top: -300px;
            margin-left: 0;
            .features__buttons-group {
                flex-direction: row;
            }
            .features-content {
                display: flex;
                justify-content: center;
                .features-tab {
                    margin: 0;
                }
            }
        }
    }
}

@media (max-width: 588px) {
    .features {
        .features-tabs {
            .features-tab {
                width: auto;
            }
        }
    }
}

@media (max-width: 375px) {
    .features {
        .features-tabs {
            margin-top: -400px;
        }
    }
}

@media (max-width: 330px) {
    .features {
        .features-tabs {
            .features__buttons-group {
                button {
                    width: 100px;
                }
            }
        }
    }
}

//-----------SUB LIST SECTION---------------

.sub-list {
    width: 100%;
    height: 596px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .sub-list__content {
        width: 473px;
        h3 {
            font-family: Raleway;
            font-weight: 700;
            font-size: 22px;
            &::after {
                content: "";
                width: 70px;
                height: 2px;
                background-color: #ff8b38;
                margin-top: 29px;
                display: block;
            }
        }
        p {
            color: #86878b;
            font-family: Raleway;
            font-size: 16px;
            margin-bottom: 45px;
        }
        .sub-list__content-block {
            span {
                float: left;
                color: #ff8b38;
            }
            .sub-list__content-block_text {
                margin-left: 65px;
                h4 {
                    font-family: Raleway;
                }
                p {
                    margin-top: -15px;
                }
            }
        }
    }
}

@media (max-width: 1338px) {
    .sub-list {
        text-align: center;
        img {
            display: none;
        }
        .sub-list__content {
            h3::after {
                margin-left: auto;
                margin-right: auto;
            }
            p {
                margin: 0;
            }
            .sub-list__content-block {
                span {
                    margin-top: 8px;
                    float: none;
                }
                .sub-list__content-block_text {
                    margin: 0;
                    p {
                    }
                }
            }
        }
    }
}

//---------STNADARD PICTURE SECTION------------

.standard-picture {
    width: 100%;
    height: 524px;
    background-color: #f5f5f5;
    font-family: Raleway;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .standard-picture__content {
        width: 533px;
        position: relative;
        left: 60px;
        h3 {
            font-size: 22px;
            &::after {
                content: "";
                width: 70px;
                height: 2px;
                background-color: #ff8b38;
                display: block;
                margin-top: 29px;
            }
        }
        p {
            font-size: Raleway;
            color: #86878b;
            font-size: 16px;
        }
    }
}

@media (max-width: 1338px) {
    .standard-picture {
        text-align: center;
        img {
            display: none;
        }
        .standard-picture__content {
            left: 0;
            h3::after {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}

//-------------PROCESS SECTION----------

.process {
    text-align: center;
    width: 100%;
    height: 592px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3 {
        margin: 0;
        margin-bottom: 10px;
        font-family: Raleway;
        font-size: 40px;
        text-transform: uppercase;
        font-weight: 400;
        &::after {
            content: "";
            width: 70px;
            height: 2px;
            display: block;
            background-color: #ff8b38;
            margin-left: auto;
            margin-right: auto;
            margin-top: 25px;
        }
    }
    p {
        font-family: Raleway;
        color: #86878b;
    }
    .process__content {
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
        width: 80%;
        flex-wrap: wrap;
        .process__content-block {
            font-family: Raleway;
            width: 380px;
            span {
                color: #ff8b38;
            }
            span:last-child {
                font-size: 40px;
            }
            h4 {
                margin: 0;
                margin-top: 20px;
                font-size: 24px;
            }
            p {
                margin-top: 20px;
                color: #86878b;
            }
        }
    }
}

@media (max-width: 1441px) {
    .process {
        height: 700px;
    }
}

@media (max-width: 966px) {
    .process {
        height: 1000px;
    }
}

@media (max-width: 472px) {
    .process {
        height: 1110px;
    }
}

//--------SECTION PRICING--------------

.pricing {
    width: 100%;
    height: 900px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    h3 {
        margin: 0;
        font-family: Raleway;
        font-size: 40px;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 10px;
        &::after {
            content: "";
            width: 70px;
            height: 2px;
            display: block;
            background-color: #ff8b38;
            margin-left: auto;
            margin-right: auto;
            margin-top: 25px;
        }
    }
    p {
        font-family: Raleway;
        color: #86878b;
    }
    .pricing__content {
        margin-top: 80px;
        display: flex;
        justify-content: space-around;
        width: 80%;
        flex-wrap: wrap;
        .pricing__content-block {
            padding: 0;
            width: 343px;
            list-style: none;
            text-align: center;
            font-family: Raleway;
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            .content-block__item-title {
                background-color: #333333;
                color: #ffffff;
                font-size: 20px;
                height: 59px;
                width: 100%;
            }
            .content-block__item-price {
                color: #ffffff;
                font-size: 80px;
                font-weight: bold;
                height: 150px;
                background-color: #333333;
                margin-top: 2px;
                position: relative;
                .price::first-letter {
                    font-size: 35px;
                }
                p {
                    font-size: 16px;
                    font-style: italic;
                }
            }
            .desc {
                background-color: #ffffff;
                color: #86878b;
                height: 41px;
                text-transform: uppercase;
                font-size: 18px;
                border-bottom: 1px solid #f5f5f5;
            }
        }
        .pricing__content-block.no-popular {
            .content-block__item-price::after {
                content: "";
                width: 100%;
                height: 5px;
                background-color: #ff8b38;
            }
        }
        .pricing__content-block.popular {
            position: relative;
            bottom: 38px;
            .content-block__item-price {
                height: 190px;
                &::after {
                    content: "our most popular";
                    font-size: 14px;
                    background-color: #ff8b38;
                    width: 100%;
                    height: 40px;
                    position: relative;
                    bottom: -3px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                }
            }
        }
    }
}

@media (max-width: 1303px) {
    .pricing {
        height: 1450px;
    }
}


@media (max-width: 874px) {
    .pricing {
        height: 1950px;
        .pricing__content {
            .pricing__content-block.popular {
                margin-top: 80px;
            }
        }
    }
}

//----------SECTION TESTIMONIALS-----------

.testimonials {
    width: 100%;
    height: 591px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h3 {
        margin: 0;
        font-family: Raleway;
        font-size: 40px;
        text-transform: uppercase;
        font-weight: 400;
        margin-bottom: 10px;
        text-align: center;
        &::after {
            content: "";
            width: 70px;
            height: 2px;
            display: block;
            background-color: #ff8b38;
            margin-left: auto;
            margin-right: auto;
            margin-top: 25px;
        }
    }
    p {
        text-align: center;
        font-family: Raleway;
        color: #86878b;
    }
    .testimonials__content {
        margin-top: 60px;
        width: 80%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .testimonials__content-block__text {
            background-color: #f5f5f5;
            width: 300px;
            height: 120px;
            display: flex;
            align-items: center;
            padding-left: 15px;
            position: relative;
            p {
                text-align: left;
            }
            &::after {
                content: "";
                position: absolute;
                top: 100%;
                left: 10%;
                width: 0;
                height: 0;
                border-top: solid 20px #f5f5f5;
                border-left: solid 15px transparent;
                border-right: solid 15px transparent;
            }
        }
        .testimonials__content-block__avatar {
            display: flex;
            img {
                margin-top: 30px;
                margin-left: 10px;
            }
            .content-block__avatar-desc {
                margin-left: 15px;
                position: relative;
                top: 15px;
                h4 {
                    font-size: 20px;
                    font-family: Raleway;
                    color: #333333;
                }
                p {
                    text-align: left;
                    margin-top: -23px;
                }
            }
        }
    }
}

@media (max-width: 1198px) {
    .testimonials {
        height: 800px;
        .testimonials__content {
            .testimonials__content-block {
                margin-top: 40px;
            }
        }
    }
}

@media (max-width: 804px) {
    .testimonials {
        height: 1200px;
        .testimonials__content {
            margin-top: 0;
            .testimonials__content-block {
                margin-top: 80px;
            }
        }
    }
}

