body {
    margin: 0;
    padding: 0;
}

.color_orange {
    color: #ff8b38;
    font-weight: 300;
}

@mixin button($bg) {
    width: 135px;
    height: 42px;
    background-color: $bg;
    color: #ffffff;
    font-family: Raleway;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

//------------- NAVBAR ---------------------

.nav {
    z-index: 1;
    width: 100%;
    height: 70px;
    background-color: black;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .nav__hamburger {
        position: absolute;
        right: 10px;
        color: #ff8b38;
        background-color: transparent;
        border: none;
        display: none;
        cursor: pointer;
        &:hover {
            color: #dd6a16;
        }
        &:focus {
            color: #dd6a16;
        }
    }
    .nav__logo {
        margin-left: 150px;
        a {
            text-decoration: none;
            color: #ffffff;
            font-size: 40px;
            font-family: raleway;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    .nav__menu {
        .menu {
            margin-right: 150px;
            display: flex;
            list-style: none;
            font-size: 20px;
            font-family: raleway;
            font-weight: 300;
            transition: 0.3s ease;
            .menu__item {
                margin-left: 47px;
                a {
                    text-decoration: none;
                    color: #a7a7a7;
                    transition: 0.1s;
                    &:hover {
                        color: #c2c2c2;
                    }
                    &:focus {
                        color: #c2c2c2;
                    }
                }
            }
        }
    }
}

@media (max-width: 1004px) {
    .nav {
        justify-content: center;
        .nav__hamburger {
            display: block;
        }
        .nav__logo {
            margin: 0;
        }
        .nav__menu {
            .menu {
                flex-direction: column;
                margin: 0;
                background-color: black;
                width: 100%;
                position: absolute;
                left: 0;
                right: 0;
                top: 70px;
                text-align: center;
                padding: 0;
                height: 0;
                overflow: hidden;
                .menu__item {
                    margin: 0;
                    line-height: 40px;
                }
            }
            .menu.active {
                height: 200px;
            }
        }
    }
}

//-------------HEADER-----------------

.header {
    width: 100%;
    height: 710px;
    background-image: url("imgs/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    .header__heading {
        width: 590px;
        h1 {
            font-size: 100px;
            color: #ffffff;
            font-family: Raleway;
            text-transform: uppercase;
        }
        h2 {
            margin-top: -55px;
            color: #ffffff;
            font-family: Raleway;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 40px;
            &::after {
                content: "";
                width: 100px;
                height: 2px;
                margin-top: 40px;
                background-color: white;
                display: block;
            }
        }
        p {
            color: #707174;
            font-family: Raleway;
            font-size: 20px;
        }
        button {
            @include button(transparent);
            border: 2px solid #ffffff;
            margin-top: 20px;
            &:hover {
                background-color: #ffffff;
                color: #000000;
            }
            &:focus {
                background-color: #ffffff;
                color: #000000;
            }
        }
    }
    .header__signup {
        width: 360px;
        p {
            color: #333333;
            font-family: Raleway;
            font-size: 25px;
            background-color: #f5f5f5;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
            width: 100%;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #ffffff;
            margin-top: -25px;
            height: 255px;
            position: relative;
            input {
                height: 32px;
                width: 75%;
                font-family: Raleway;
                border: none;
                border-bottom: 1px solid #d6d6d6;
                padding-left: 18px;
                font-size: 14px;
                font-weight: 300;
                outline: none;
                transition: 0.2s;
                &:focus {
                    border-bottom: 1px solid #000000;
                }
            }
            input:not(:first-child) {
                margin-top: 30px;
            }
            input:last-of-type {
                margin-bottom: 50px;
            }
            button {
                left: 0;
                width: 100%;
                height: 54px;
                position: absolute;
                bottom: -54px;
                background-color: #ff9b51;
                border: none;
                color: #ffffff;
                font-family: Raleway;
                font-size: 18px;
                font-weight: 400;
                cursor: pointer;
                transition: 0.2s;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                &:hover {
                    background-color: #ff8b38;
                }
                &:focus {
                    background-color: #ff8b38;
                }
            }
        }
    }
}

@media (max-width: 966px) {
    .header {
        height: 1100px;
        text-align: center;
        .header__heading {
            margin-bottom: -190px;
            h2 {
                &::after {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

@media (max-width: 526px) {
    .header {
        height: 1200px;
    }
}

//-----------BRAND BAR-------------

.brand-bar {
    width: 100%;
    height: 105px;
    box-shadow: 1px 2px 2px #b7b7b7;
    display: flex;
    justify-content: center;
    position: relative;
    .brand-bar__wrapper {
        width: 1430px;
        padding-left: 100px;
        padding-right: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .brand-bar__text {
            width: 408px;
            h3 {
                color: #333333;
                font-family: Raleway;
                font-size: 23px;
                margin-bottom: -8px;
            }
            p {
                color: #86878b;
                font-family: Raleway;
            }
        }
        .brand-bar__icons {
            a {
                transition: 0.3s;
                color: #cccccc;
                margin-left: 60px;
                &:nth-child(1):hover {
                    color: #3b5998;
                }
                &:nth-child(2):hover {
                    color: #00aced;
                }
                &:nth-child(3):hover {
                    color: #d34836;
                }
                &:nth-child(4):hover {
                    color: #C92228;
                }
                &:nth-child(5):hover {
                    color: #8a3ab9;
                }
                &:nth-child(6):hover {
                    color: #eb4924;
                }
                &:nth-child(7):hover {
                    color: #f26522;
                }
                &:focus {
                    color: #ff8b38;
                }
            }
        }
    }
}

@media (max-width: 1374px) {
    .brand-bar {
        height: 250px;
        .brand-bar__wrapper {
            text-align: center;
            flex-direction: column;
            justify-content: center;
            padding: 0;
            .brand-bar__text {
                width: 100%;
            }
            .brand-bar__icons {
                width: 100%;
                a {
                    margin: 10px;
                }
            }
        }
    }
}

@media (max-width: 488px) {
    .brand-bar {
        height: 300px;
    }
}

//---------FEATURES-------------

.features {
    width: 100%;
    height: 595px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .features-tabs {
        display: flex;
        .features__buttons-group {
            display: flex;
            flex-direction: column;
            button {
                width: 110px;
                height: 112px;
                background-color: #333333;
                border: none;
                color: #ffffff;
                font-family: Raleway;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 16px;
                border: 1px solid #c7c7c7;
                cursor: pointer;
                &:hover {
                    background-color: #ff8b38;
                }
            }
        }
        .features-tab {
            visibility: hidden;
            height: 307px;
            width: 540px;
            opacity: 0;
            transition: 0.4s ease-in;
            position: absolute;
            margin-left: 80px;
            h3 {
                margin-top: 10px;
                font-size: 24px;
                font-family: Raleway;
                padding-bottom: 20px;
            }
            p {
                font-family: Raleway;
                color: #86878b;
            }
            button {
                @include button(#ff8b38);
                margin-top: 35px;
                &:hover {
                    background-color: #ff9b51;
                }
                &:focus {
                    background-color: #ff9b51;
                }
            }
        }
        .features-tab.active {
            opacity: 1;
            visibility: visible;
        }
    }
}

@media (max-width: 1615px) {
    .features {
        justify-content: space-between;
        .features-tabs {
            margin-left: 120px;
        }
        img {
            margin-right: 120px;
        }
    }
}

@media (max-width: 1270px) {
    .features {
        .features-tabs {
            margin-left: 30px;
        }
        img {
            margin-right: 30px;
        }
    }
}

@media (max-width: 1100px) {
    .features {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        img {
            display: none;
        }
        .features-tabs {
            flex-direction: column;
            margin-top: -300px;
            margin-left: 0;
            .features__buttons-group {
                flex-direction: row;
            }
            .features-content {
                display: flex;
                justify-content: center;
                .features-tab {
                    margin: 0;
                }
            }
        }
    }
}

@media (max-width: 588px) {
    .features {
        .features-tabs {
            .features-tab {
                width: auto;
            }
        }
    }
}

@media (max-width: 375px) {
    .features {
        .features-tabs {
            margin-top: -400px;
        }
    }
}

@media (max-width: 330px) {
    .features {
        .features-tabs {
            .features__buttons-group {
                button {
                    width: 100px;
                }
            }
        }
    }
}